<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your bill is </p>
    <p><%=@transaction.fee_charged%> Rs.</p>
      --------------------------
  </body>
</html>
