<div class="row">
  <div class="col-md-8 mx-auto">
    <h2 class="">Usages</h2>
    <table class="table table-dark">
      <thead>
        <tr>
          <th>Usage Id</th>
          <th>Subscription Id</th>
          <th>Feature Id</th>
          <th>Units Used</th>
        </tr>
      </thead>
      <tbody>
        <% @usages.each do |usage| %>
            <tr>
              <td>
                <%= usage.subscription.plan.name %>
              </td>
              <td>
                <%= usage.feature.name %>
              </td>
              <td>
                <%= usage.units_used %>
              </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
