 <div>
    <h1> <%= pluralize(obj.count,'error') %> prohibited this feature from being saved. </h1>
    <ul>
      <%  obj.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
